<!DOCTYPE html>
<html>
  <head>
    <title>Meetup +</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://use.fontawesome.com/5b2f0f21f9.js"></script>

    <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

  </head>

  <body>
    <div class="container">
      <header>
       
      </header>
     
      {{> nav}}
      {{{body}}}

    </div>

  
  
  
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>