{{#if user}}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Meetup +</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/settings">Settings</a></li>
          <li><a href="/users/userProfile">My Profile</a></li>
          <li><a href="/users/logout">Logout</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a>Welcome {{user.username}}</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
{{else}}  <!-- if user is not logged in show the Login and Register -->
<nav class="navbar navbar-default">
  <div id="navbar" class="navbar-collapse collapse">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Meetup +</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/users/login">Login</a></li>
      <li><a href="/users/register">Register</a></li>
    </ul>
  </div>
</nav>
{{/if}}


