{{> navigation}}

    <div class="dashboard">
        <div class="container-fluid">
            <div class="row">
            {{> sideNav}}
               	<div id="dashboardContent" class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">
                    <h2 class="topHeader">NFC Instructions</h2>
                    <div class="row eventDisplays">
                        <div class="col-md-2 col-sm-12 redContent">
							<h3 class="eventNameRed">{{event.eventName}}</h3>
                    		<img class="img img-responsive"src="{{event.image}}">
						</div>
						<div class="col-md-10 col-sm-12">
							<h3>Instructions for NFC Card</h3>
							<ol class="instructions">
								<li class="text-left">Download the NFC Tools application. It can be found here:
									<a class="nfc" target="blank" href="https://play.google.com/store/apps/details?id=com.wakdev.wdnfc&hl=en">
										 NFC Tools Link.</a>
								</li>
								<br>
					           	<li class="text-left">Write the following URL to the NFC card: <br>
					           		<p class="blue">https://wellnessworks.herokuapp.com/events/reports/{{event.id}}</p>
					           	</li> 
					           	<li class="text-left">Ensure user is logged into Wellness Works application before swiping the NFC card.</li>
				           	</ol> 
				            <a href="/">
				            	<button class="btn btn-default right">Back</button>
				        	</a>
				        </div>
					</div>
				</div>
			</div>
        </div>
    </div>

{{> footer}}

