<!DOCTYPE html>
<html>
  <head>
   <title>{{title}}</title>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <!---<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">--->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://use.fontawesome.com/5b2f0f21f9.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

  <body>

    <div class="container">
      <header>
        {{#if navigation}}
          {{> navigation}}
        {{/if}}
        <div class="header">
          {{#if headerTitle}}
           {{> headerTitle}}
          {{/if}}
        </div>
      </header>
      {{#if sideNav}}
        {{> sideNav}}
      {{/if}}
      {{{body}}}

      {{#if footer}}
        {{>footer}}  
      {{/if}}
    </div>
  <script src="/js/main.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>